#hearts{
    font-size:120%;
}
.skill-item{
    background-color: rgba(99, 99, 99,0.8);
    color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-weight: bold;
}